*.xcuserstate
SHU/SHU.xcodeproj/project.xcworkspace/xcuserdata/rubato.xcuserdatad/UserInterfaceState.xcuserstate
SHU/.DS_Store
SHU/SHU.xcodeproj/project.xcworkspace/xcuserdata/rubato.xcuserdatad/UserInterfaceState.xcuserstate
SHU/SHU.xcodeproj/project.xcworkspace/xcuserdata/rubato.xcuserdatad/UserInterfaceState.xcuserstate
SHU/SHU.xcodeproj/project.xcworkspace/xcuserdata/rubato.xcuserdatad/UserInterfaceState.xcuserstate
